html,
body {
    margin: 0;
    padding: 0;
}

.container {
    background: #0d3f7c;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 2rem;
}

section {
    max-width: 37rem;
    overflow: hidden;
    display: grid;
    grid-template-rows: 8fr 1fr;
    grid-template-columns: 15fr repeat(4, 1fr);
    grid-auto-flow: column;
    gap: 0.3rem;
    background: #0d3f7c;
    color: #fafafa;
}

.slider {
    width: fit-content;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 7;
    order: 1;
    overflow: hidden;
}

#slide__1,
#slide__2,
#slide__3,
#slide__4 {
    max-width: 37rem;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
label {
    order: 2;
    z-index: 10;
    grid-row-start: 2;
    grid-row-end: 3;
}

input[type="radio" i] {
    display: none;
}

label {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

span {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 25%;
    background: #04bbec;
    border-radius: 50%;
    border: 0.2rem solid #04bbec;
    transition-property: background, border;
    transition-duration: 0.2s;
}

label:hover span {
    background: #a9e4fc !important;
    border: 0.2rem solid #a9e4fc;
}

label:active span {
    background: #5586c2 !important;
    border: 0.2rem solid #5586c2;
}

#radio1:checked ~ label[for="radio1"] span,
#radio2:checked ~ label[for="radio2"] span,
#radio3:checked ~ label[for="radio3"] span,
#radio4:checked ~ label[for="radio4"] span,
#radio5:checked ~ label[for="radio5"] span {
    background: #0d3f7c;
    border: 0.2rem solid #04bbec !important;
}

.text--container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    order: 2;
    overflow: hidden;
}

p {
    color: #0d3f7c;
    width: 37rem;
    transition-property: color;
    transition-duration: 0.3s;
}

.text--container {
    grid-row-start: 3;
}

label[for="radio1"] {
    grid-column-start: 2;
    grid-column-end: 3;
}

label[for="radio2"] {
    grid-column-start: 3;
    grid-column-end: 4;
}

label[for="radio3"] {
    grid-column-start: 4;
    grid-column-end: 5;
}

label[for="radio4"] {
    grid-column-start: 5;
    grid-column-end: 6;
}

label[for="radio5"] {
    grid-column-start: 6;
    grid-column-end: 7;
}

#radio1:checked ~ .text--container #text1,
#radio2:checked ~ .text--container #text2,
#radio3:checked ~ .text--container #text3,
#radio4:checked ~ .text--container #text4 {
    color: #fafafa;
}

#radio1:checked ~ .text--container,
#radio1:checked ~ .slider {
    transform: translate(0);
}

#radio2:checked ~ .text--container,
#radio2:checked ~ .slider {
    transform: translate(-37rem);
}

#radio3:checked ~ .text--container,
#radio3:checked ~ .slider {
    transform: translate(-74rem);
}

#radio4:checked ~ .text--container,
#radio4:checked ~ .slider {
    transform: translate(-111rem);
}

.text--container,
.slider {
    transition-property: transform;
    transition-duration: 0.76s;
}

@media all and (max-width: 700px) {
    section {
        max-width: 24rem;
        height: 19rem;
        grid-template-rows: 6fr 1fr 1fr;
        grid-template-columns: 3fr repeat(4, 1fr) 3fr;
        grid-row-gap: 0.5rem;
    }

    #slide__1,
    #slide__2,
    #slide__3,
    #slide__4 {
        width: 24rem;
        height: 17rem;
    }
    img {
        width: 100%;
    }

    #radio1:checked ~ .text--container,
    #radio1:checked ~ .slider {
        transform: translate(0);
    }

    #radio2:checked ~ .text--container,
    #radio2:checked ~ .slider {
        transform: translate(-24rem);
    }

    #radio3:checked ~ .text--container,
    #radio3:checked ~ .slider {
        transform: translate(-48rem);
    }

    #radio4:checked ~ .text--container,
    #radio4:checked ~ .slider {
        transform: translate(-72rem);
    }

    p {
        width: 24rem;
    }
}

@media all and (max-width: 450px) {
    * {
        font-size: 0.7rem;
    }
}
